body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px; /* Increase base font size */
  line-height: 1.8; /* Adjust line height for readability */
}

h1, .hero-body {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

.hero-body {
  background-color: #2166ac; /* Change background color */
  color: white; /* Default text color to white for readability */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.publication-title {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: white; /* Title color */
}

.publication-authors {
  margin-bottom: 0.3rem;
}

/* Author's name colors */
.publication-authors a {
  color: #ecf0f1 !important; /* Light Gray */
}

.publication-authors a:hover {
  color: #e74c3c !important; /* Red */
}

.author-block {
  display: inline-block;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.author-link {
  color: white; /* Author link color */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.publication-affiliations {
  margin-bottom: 1rem;
  color: white; /* Affiliations color */
}

.publication-links .button {
  margin: 0.3rem;
  color: #2166ac; /* Button text color */
  background-color: white; /* Button background color */
  border-color: white; /* Button border color */
}

.publication-links .button:hover {
  background-color: #f0f0f0; /* Button hover background color */
  border-color: #f0f0f0; /* Button hover border color */
}

.navbar-item {
  color: #333; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.navbar-dropdown .navbar-item:hover {
  background-color: #2166ac; /* Hover background color for dropdown items */
  color: #2166ac; /* Hover text color for dropdown items */
}

/* Navigation bar font size */
.navbar-item .icon {
  margin-right: 0.2rem; /* Adjust spacing between icon and text */
}

.navbar-item span.icon {
  display: flex;
  align-items: center;
}

.navbar-item span {
  display: inline-flex;
  align-items: center;
}

.navbar-item {
  font-size: 1.5rem; /* Increase font size for navigation items */
}

.navbar-link {
  font-size: 1.5rem; /* Increase font size for dropdown links */
}

.navbar-brand, .navbar-end {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* Footer font size */
.footer .icon-link {
  font-size: 30px;
  color: #000;
}

/* Link block font size */
.link-block a {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.2rem; /* Increase font size for links */
}

.mathvista {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5rem; /* Increase font size */
}

.teaser .hero-body {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 1.5rem; /* Increase font size */
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

/* Publication sections font size */
.publication-title, .publication-authors {
  font-family: 'Google Sans', sans-serif;
  font-size: 2.5rem; /* Increase font size */
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
  font-size: 1.5rem; /* Increase font size */
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
  font-size: 1.5rem; /* Increase font size */
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
   font-size: 1.5rem; /* Increase font size */
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
  font-size: 1.5rem; /* Increase font size */
}

/* Captions font size */
.content.has-text-centered p {
  font-size: 1.2rem; /* Increase font size for captions */
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.stats-image {
  max-height: 250px;
}

#org-banners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.org-banner {
  max-width: 100%;
  height: 6em;
  margin: 8px;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px; /* Adjust base font size for mobile */
  }

  h1, .hero-body {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .navbar-item {
    font-size: 1.0rem; /* Adjust font size for navigation items on mobile */
    padding: 0.6rem 0.6rem; /* Adjust padding */
  }

  .navbar-link {
    font-size: 1.0rem; /* Adjust font size for dropdown links on mobile */
  }

  .navbar-brand, .navbar-end {
    flex-wrap: wrap; /* Allow items to wrap within the available space */
    justify-content: space-around; /* Adjust spacing */
  }

  #org-banners {
    flex-direction: column;
    justify-content: space-around;
  }
}
