body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px; /* Increase base font size */
  line-height: 1.8; /* Adjust line height for readability */
}

h1, .hero-body {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

/* Navigation bar font size */
.navbar-item {
  font-size: 1.5rem; /* Increase font size for navigation items */
}

.navbar-link {
  font-size: 1.5rem; /* Increase font size for dropdown links */
}

/* Footer font size */
.footer .icon-link {
  font-size: 30px;
  color: #000;
}

/* Link block font size */
.link-block a {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem; /* Increase font size for links */
}

.mathvista {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5rem; /* Increase font size */
}

.teaser .hero-body {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 1.5rem; /* Increase font size */
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

/* Publication sections font size */
.publication-title, .publication-authors {
  font-family: 'Google Sans', sans-serif;
  font-size: 2rem; /* Increase font size */
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
  font-size: 1.5rem; /* Increase font size */
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
  font-size: 1.5rem; /* Increase font size */
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
   font-size: 1.5rem; /* Increase font size */
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
  font-size: 1.5rem; /* Increase font size */
}

/* Captions font size */
.content.has-text-centered p {
  font-size: 1.5rem; /* Increase font size for captions */
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.stats-image {
  max-height: 250px;
}

#org-banners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.org-banner {
  max-width: 100%;
  height: 6em;
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px; /* Adjust base font size for mobile */
  }

  h1, .hero-body {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .navbar-item {
    font-size: 1.25rem; /* Adjust font size for navigation items on mobile */
  }

  .navbar-link {
    font-size: 1.25rem; /* Adjust font size for dropdown links on mobile */
  }

  #org-banners {
    flex-direction: column;
    justify-content: space-around;
  }
}
